.web-component-card-container {
  height: 340px;

  .ant-card-cover {
    height: 58%;
    img {
      width: 100%;
      height: 100%;
    }
  }

  .ant-card-body {
    height: 29%;
    padding: 8px;
  }

  .ant-card-actions {
    height: 13%;
  }
}
